name: Automated tests
on:
  pull_request:
    branches: ["master"]
  workflow_dispatch:

jobs:
  static:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Install dependencies
        run: npm i && npm run bootstrap

      - name: Lint
        run: npm run lint
  cra:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Install dependencies
        run: npm i && npm run bootstrap

      - name: Running CRA test
        run: |
          npm i -g serve
          cd ./examples/cra-authenticated
          npm i
          npm run build
          serve -s build -l 3000 &
          npm run e2e:audit:headless
  nextjs:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Install dependencies
        run: npm i && npm run bootstrap

      - name: Running Nextjs test
        run: |
          cd examples/nextjs
          npm install
          npm run build 
          npm start &
          npm run e2e:audit:headless
  external:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Install dependencies
        run: npm i && npm run bootstrap

      - name: Running External test
        run: |
          cd examples/external-url
          npm install
          npm run e2e:audit:headless

  nx:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Install dependencies
        run: npm i && npm run bootstrap

      - name: Running NX test
        run: |
          cd examples/nx
          npm i
          npm run e2e nx-e2e
